---
---
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include head.html title="春秋杰瑞" %}
    <style type="text/css">
        .footer-wrap {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
{% include header.html about="active" %}
<main class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                <b>Jerry Chin</b>, now work for a small tech company based in Shanghai, China.
                </p>
                <p>
                I'm a Java developer and an enthusiast in computer science; Also a big fan of Linux(it's a shame that I just migrated to Ubuntu Gnome from Windows one week ago at the time of writing, despite the fact I've been studying it for a long time.), I've been coding for many years, beginning with Visual Basic, C++ and many others, now Java(one of my favourites).
                </p>
                <p>
                My pastime is spent on sci-fi movies and reading, I'm not really a social guy ;)
                </p>
                <p>
                I always want to adopt a kitty or puppy but my wife is allergic to them, they're just adorable.
                </p>
                <pre>
                ____
                (.   \
                \  |
                \ |___(\--/)
                __/    (  . . )
                "'._.    '-.O.'
                '-.  \ "|\
                '.,,/'.,,mrf
                </pre>

                (Ascii Cat credited to <a href="http://user.xmission.com/~emailbox/ascii_cats.htm">CatStuff]</a>)
                </p>
                <!--<p>{{ about_me | markdownify }}</p>-->

                </div>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}
{% include script.html %}

<!-- Bootstrap Further Configuration
1. https://gist.github.com/3fdeb9368d8bffc0d8267da0fac010cd
2. https://getbootstrap.com/customize/?id=3fdeb9368d8bffc0d8267da0fac010cd
-->
</body>
</html>