---
---
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include head.html title="春秋杰瑞" %}
</head>
<body>
{% include header.html index="active" %}
<main class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
				{% for post in site.posts %}
					<article class="article-wrap">
	                    <header class="page-header text-center">
	                        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	                        <ul class="list-inline article-meta">
	                            <li><span class="publish-date">发布于 {{ post.date | date: "%Y年%-m月%-d日"}}</span></li>
	                            <li><span>所属主题 &nbsp;<a href="#" class="tag">#{{ post.tags[0] }}</a></span></li>
	                        </ul>

	                    </header>
	                    <div class="article-content">
	                    	{{ post.content }}
	                    </div>
	  					<footer class="arctile-footer">
	                    </footer>
                    </article>
				{% endfor %}
            </div>

        </div>
    </div>
</main>

{% include footer.html %}
{% include script.html %}

<!-- Bootstrap Further Configuration
1. https://gist.github.com/3fdeb9368d8bffc0d8267da0fac010cd
2. https://getbootstrap.com/customize/?id=3fdeb9368d8bffc0d8267da0fac010cd
-->
</body>
</html>
