---
---
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include head.html title="春秋杰瑞" %}
    <style type="text/css">
        .footer-wrap {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
{% include header.html readings="active" %}
<main class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="tags">
                    <li>
                        David Creamer, 2003, <a href="http://www.ideastraining.com/PDFs/TypographyBasics.pdf">
                            "Computer Typography Basics © I.D.E.A.S."
                        </a>
                        <br />
                        <small>西文排版知识的入门书籍，内容详实且图文并茂，作者在出版行业有着超过20年的工作经验。</small></li>
                </ul>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}
{% include script.html %}

<!-- Bootstrap Further Configuration
1. https://gist.github.com/3fdeb9368d8bffc0d8267da0fac010cd
2. https://getbootstrap.com/customize/?id=3fdeb9368d8bffc0d8267da0fac010cd
-->
</body>
</html>