<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script>
    var f = [String.fromCharCode, [], $(".feedback"), "", ""];
    var ma = [0x6D, 0x65, 0x74, 0x72, 0x78, 0x71, 0x69, 0x6E];
    var s = [0x40, 0x2E, 0x3A, 0x3F, 0x3D];
    var dbe = [0x67, 0x6D, 0x61, 0x69, 0x6C];
    var e = [0x63, 0x6F, 0x6D];
    var mt = [0x6D, 0x61, 0x69, 0x6C];
    var t =

        f[2].attr("href", "".concat(mt.reduce(function(t, e) {return t.concat(f[0](e));}, f[4]), "to",f[0](s[2]), f[1].
        concat(ma, s[0], dbe, s[1], e).reduce(function(t, e) {return t.concat(f[0](e));}, f[3]), f[0](s[3]), "subject", f[0](s[4]), "反馈问题"));
</script>