
/*
 * Navigation
 */
.navbar-brand {
    font-size: 24px;
    line-height: 50px;
    padding: 0px 15px;
}

.navbar-blog {
    border-bottom: 3px solid #00BCD4;
}

.navbar-blog .navbar-brand .chinese{
    letter-spacing: 5px;
}

.navbar-blog .navbar-brand .english{
    font-family: Cabin;
}

.navbar-blog .feedback {
    font-size: 14px;
}

.navbar-blog .feedback .glyphicon-envelope{
    vertical-align: -1px;
}
@media (min-width: 768px) {
    .navbar-blog .active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        vertical-align: middle;
        content: " ";
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        border-left: 5px solid transparent;
        color: #00BCD4;
    }
}


/*
 * Article
 */
.article-wrap {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.article-content {
    padding: 5px;
    color: #444;
}

.article-meta {
    margin:0;
    font-size: 0.9em;
}

/*
 *  Footer
 */

.footer-wrap {
    background-color: #414141;
    line-height: 1.5;
    color: #ddd;
    font-size: 0.9em;
    margin-top: 50px;
}